.navbar-light .navbar-brand {
    font-size: 45px !important;
    font-family: "Times New Roman", Times, serif !important;
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 20px !important;
    font-family: "Times New Roman", Times, serif !important;
    color: #fff !important;
}

.navbar-toggler {
    background-color: lightblue !important;
    border: 1px solid darkblue !important;
}